

:root {
    --green:#1DB954;
    --yellow:#FEFFBB;
    --purple: hsla(266, 0%, 65%, 1);
    --gray: hsla(129, 0%, 0%, 1);
    --gray-dark:#39403A;
    --white: #fff;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body, html {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'Poppins', normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    cursor: pointer;
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20px;
    width: 100%;
    padding: 0;
    background-color: var(--green);
    
}

.hero__heading {
    margin: 0 0 1rem 0;
    text-align: center;
    color: var(--yellow);
    display: flex;
    font-size: 144px;
    font-weight: 900;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero__subheading {
    font-size: 28px;
    font-weight: 400;
    text-align: left;
    color: var(--white);
    display: static;
    width: 1188.17px;
    height: 52.5px;
  
  
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    max-width: 600px;
    padding: 0;
    color: var(--green);
    text-decoration: none;
}
.card__icon{
    width: 15vw;
    height: auto;
    max-width:300px;
    min-width:10px;
}
.card__title {
    font-size: 26px;
    color: var(--green);
    margin: 0.85rem 0;
}
.card__description {
    margin: 10px;
    line-height: 140%;
    font-size:1.5rem;
    color: var(--gray);
    position: absolute;
    text-align: center;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 194px;
    min-height:160px;
    background: var(--gray-dark);
    border-bottom: 1rem solid var(--green);
    width: 100%;
}
.footer__title{
    font-size: 36px;
    color: var(--yellow);
}


@media (min-width: 768px) { 
    .hero__heading {
        font-size: 9vw;
        transform: rotate(-3deg);
    }
    .hero__subheading {
        font-size: 1.6rem;
        transform: rotate(-3deg);
        
        
    }
    .card__description {
        font-size: 1.5rem;
      
        

    }
    .card__description {
        margin: 0;
        line-height: 350%;
        font-size:1.3rem;
        color: var(--gray);
    }

    
    .content {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        width: 80%;
        padding: 10vh 0;
        max-width: 1200px;
    }
    .card {
        flex: 0 1 32.3%;
        transition: all 0.5s ease-in-out;
    }
    .card:hover {
        background: var(--white);
        box-shadow: 0 3px 9px 1px hsla(0, 0%, 0%, 0.25);
    } 
    .card__icon{
        width: 8vw;
        height: auto;
        max-width:80px;
        min-width:60px;
    }
    .card__title {
        font-size: 2rem;
        text-decoration: none;
    }
    .footer {
        border-bottom: 2rem solid var(--green);
    }
    @media (min-width: 1024px) { 
        .hero__subheading {
            width: 75vw;
            font-size: 1.6vw;
            text-align: left;
        }
        .hero__subheading:last-child {
            text-align: right;
        }
}






































































































































































































